<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <% include partials/detailHeader.ejs %>

  <main>

    <% include partials/product.ejs %>
    <% include partials/product.ejs %>
    <% include partials/product.ejs %>

  </main>

  <footer class="footer">
    <form class="additem" action="/:name" method="POST">
      <input class="item__name" type="text" name="product" placeholder="product name...">
      <input class="item__quantity" type="number" name="quantity" value="1" placeholder="1">
      <button class="btn btn-add" type="submit" name="add-product">+</button>
    </form>
  </footer>

</body>
</html>
