<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <% include partials/detailHeader.ejs %>

  <main>

    <% for( var i = 0; i < product.length; i++){ %>
      <div class="product">
        <label class="product__name"><input class="product__check" type="checkbox" name="checkbox" value="1"><%= product[i] %></label>
        <input class="product__quantity" type="number" value="<%= quantity[i] %>" name="product quantity">
      </div>
    <% } %>

  </main>

  <footer class="footer">
    <form class="additem" action="/:name" method="POST">
      <input class="item__name" type="text" name="product" placeholder="product name...">
      <input class="item__quantity" type="number" name="quantity" value="1" placeholder="1">
      <button class="btn btn-add" type="submit" name="add-product">+</button>
    </form>
  </footer>

</body>
</html>
