<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <% include partials/header.ejs %>

  <main>

    <% include partials/list.ejs %>
    <% include partials/list.ejs %>
    <% include partials/list.ejs %>

    <% include partials/newList.ejs %>

  </main>

  <footer class="footer">
    <a class="link" href="/add">add new list</a>
  </footer>

</body>
</html>
