<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <header class="header">
    <nav>
      <ul class="nav">
        <li><a class="none" href="/"></a></li>
        <li><h1 class="header__title">lijsten</h1></li>
        <li><a class="none" href="/"> </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <ul class="lists">
      <% lists.forEach(list => { %>
        <li class="lists__list">
          <a class="list__link" href="<%= list.name %>">
            <h2 class="list__name"><%= list.name %></h2>
            <p class="list__number">total: <%= list.items.length %></p>
            <p class="list__date"><%= list.date %></p>
            <button id="remove" class="list__remove" formaction="/removeList" type="submit">remove</button>
          </a>
        </li>
      <% }) %>
    </ul>
  </main>

  <footer class="footer">

    <form class="addlist" action="/" method="POST">
      <input class="addlist__name" type="text" name="list" placeholder="name your list...">
      <button class="btn btn-submit" type="submit" name="add-list">add list</button>
    </form>

  </footer>

  <script src="/js/remove.js"></script>

</body>
</html>
