<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <main class="error-main">

    <section class="error">
      <h1 class="error__title"></> No internet connection</h1>
      <p class="error__text">There seems to be a problem with your internet connection.</p>
      <p class="error__text">Please try again later.</p>
      <a class="btn btn-error" href="/">Back to home</a>
    </section>

  </main>
  <% include partials/tail.ejs %>

</body>
</html>
