/* colors */
:root {
  --color-text: #000;
  --color-text-light: #FFF;
  --color-text-middle: #F7C8B7;
  --color-text-dark: #ccc;
  --color-text-special: tomato;
  --color-backgr-light: #FFF;
  --color-backgr-middle: #ccc;
  --color-overlay: rgba(44,62,80,.8);
  --color-border-middle: #ccc;
}

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: system-ui;
  font-size: 1rem;
  position: relative;
  height: 100vh;
}

main {
  height: 100%;
  padding: 0 .5rem;
  background-color: var(--color-backgr-middle);
  padding-top: 1rem;
}

svg {
  height: 2rem;
  width: 2rem;
}

svg:first-of-type {
  float: left;
}

svg:last-of-type {
  float: right;
}

.nav {
  display: flex;
  list-style-type: none;
}

li:first-of-type {
  font-size: 1.5rem;
  margin-left: .5rem;
  margin-right: auto;
}

li:last-of-type {
  font-size: 1.5rem;
  margin-right: .5rem;
  margin-left: auto;
}

.back {
  color: var(--color-text-dark);
}

.none {
  fill: #fff;
}

.menu {
  color: var(--color-text-dark);
}

.header__title {
  color: var(--color-text-special);
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--color-backgr-light);
  padding: .4rem 0;
}

.footer {
  height: 10vh;
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: var(--color-backgr-light);
}

.footer__link {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--color-text-special);
}

.footer__link:active {
  background-color: tomato;
}

/* general */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--color-overlay)
}

/* buttons */
.btn {
  border: 2px solid var(--color-border-middle);
  border-radius: 10px;
  background-color: lightgreen;
  font-size: 1rem;
  color: var(--color-text-dark);
}

.btn-cancel {
  margin-right: 30%;
  padding: .5rem 1rem;
}

.btn-submit {
  padding: .5rem 1rem;
}

.btn-add {
  width: 10%;
  margin-left: .1rem;
  height: 2.5rem;
  font-size: 2rem;
}

/* form */
/* add product */
.additem {
  height: 10vh;
}

.item__name {
  font-size: 1.5rem;
  padding: 0 .5rem;
  width: 70%;
  height: 100%;
}

.item__quantity {
  font-size: 1rem;
  padding: .1rem;
  width: 15%;
  height: 100%;
  text-align: center;
}

/* add list */
.addlist {
  padding: 0 .5rem;
  width: 75%;
  height: 35%;
  position: fixed;
  top: 40%;
  left: 50%;
  right: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: var(--color-backgr-light);
  border: 2px solid var(--color-border);
  border-radius: 20px;
  text-align: center;
  z-index: 11;
}

.addlist__name {
  margin: auto;
  color: var(--color-text-dark);
  font-size: 1rem;
  border: 2px solid var(--color-border);
  display: block;
  padding: .75rem;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
}

.addlist__name-max {
  display: none;
  color: var(--color-text-middle);
  font-size: .8rem;
}

.addlist__name:focus ~ .addlist__name-max {
  display: block;
  background-color: #eee;
  margin: 0 .5rem 2rem;
  border-radius: 0px 0px 5px 5px;
  padding: .3rem;
}

.addlist__name:focus {
  margin-bottom: 0;
}

/* list items */
.list {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.list__link {
  padding: 1rem;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
  "name remove"
  "date number";
  color: var(--color-text-special);
}

.list__name {
  grid-area: name;
  color: var(--color-text-special);
  display: inline;
  font-size: 1.5rem;
}

.list__date {
  grid-area: date;
  color: var(--color-text-dark);
  margin-top: 1rem;
  display: inline;
}

.list__number {
  text-align: right;
  grid-area: number;
  color: var(--color-text);
  float: right;
  margin-top: 1rem;
}

.list__remove {
  color: var(--color-text-special);
  text-align: right;
  grid-area: remove;
  float: right;
}

/* product items */
.progress {
  height: 1.5rem;
  background-color: lightgreen;
  border-bottom: .1rem solid green;
}

.product {
  background-color: #fff;
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
}

.product__check {
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  color: green;
  margin-right: 1rem;
}

.product__check:checked ~ .product {
  background-color: green;
}

.product__name {
  font-size: 1.5rem;
  width: 17.75rem;
  height: 2rem;
}

.product__quantity {
  float: right;
  width: 3rem;
  text-align: center;
}

/* states */
.product:hover, .product:focus, .list:hover, .list:focus {
  box-shadow: ;
}
