<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e2e2e2"/>
  <meta name="Description" content="doto list">
  <title>Grocery list</title>
  <link rel="manifest" src="/manifest.json">
  <link rel="stylesheet" href="/css/styles.css">
</head>
