<header class="header">
  <nav>
    <ul class="nav">
      <li><a class="none" href="#"> </a><</li>
      <li><h1 class="header__title">lijstjes</h1></li>
      <li><a class="menu" href="#">M</a></li>
    </ul>
  </nav>
</header>
