<div class="list">
  <a class="list__link" href="/:name">
    <h2 class="list__name">List</h2>
    <button class="list__remove" formaction="/removeList" type="submit"> X </button>
    <p class="list__number">5/12</p>
    <p class="list__date">04/03/1999</p>
  </a>
</div>
