<div class="overlay">
  <form class="addlist" action="/" method="POST">

    <input class="addlist__name" type="text" name="list" placeholder="Name your list">
    <p class="addlist__name-max">max. 25 characters</p>

    <a class="btn btn-cancel" href="#">cancel</a>
    <button class="btn btn-submit" type="submit" name="add-list">add list</button>
  </form>
</div>
