<div class="product">
  <input class="product__check" id="product" type="checkbox" name="checkbox" value="1"><label for="product" class="product__name">Lijst</label>
  <input class="product__quantity" type="number" value="1" name="product quantity">
</div>
